body {
    padding: 50px;
    background-color: #c0d9ff;
    color: #6f8fc1;
    font-family: poppins, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navlist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 12px;
}

.navlist li {
    margin: 20px;
}

header {
    max-height: 80px;
    margin-bottom: 80px;
}

#logo {
    display: block;
    max-width: 80%; 
    height: auto;
}

a {
    text-decoration: none;
    color: #6f8fc1;
}

a:hover {
    text-decoration: underline;
    color:#6f8fc1;
}

a:active {
    text-decoration: underline;
    text-decoration-color: #6f8fc1;
}

.post-img {
    width: 200px;
    display: inline;
    float: left;
    padding-right: 20px;
    padding-top: 20px;
}

img {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
}

article {
    border: 1px solid #6f8fc1;
    border-radius: 10px;
    max-width: 400px;
    max-height: 300px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
}

.about-div {
    display: flex;
    justify-content: center;
}

p.about {
    text-align: center;
    width: 440px;
    font-size: 12px;
}


.active {
    text-decoration: underline;
    text-decoration-color:#6f8fc1;
}

.title {
    font-weight: bold;
    font-size: 14px;
}

.date {
    font-style: italic;
    font-size: 10px;
}
