/* Define custom font */
@font-face {
    font-family: "poppins";
    src: url("Poppins.ttf") format("truetype");
  }

@font-face {
    font-family: "poppins-semibold";
    src: url("Poppins-Semibold.ttf") format("truetype");
  }
  
  /* Global styles */
  body {
    padding: 50px;
    background-color: #f2f3e2;
    color: #706777;
    font-family: "poppins", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
  }
  
  /* Header styles */
  header {
    max-width: 400px;
    margin: auto;
    margin-bottom: 3%;
  }
  
  /* Logo styles */
  #logo {
    max-width: 100%;
    margin: auto;
    margin-bottom: 2%;
  }
  
  /* Article styles */
  article {
    border: 1px solid #706777;
    border-radius: 5px;
    max-width: 400px;
    max-height: 300px;
    overflow: auto;
    margin: auto;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 20px;
  }

  #intro {
    font-family: poppins-semibold;
  }
  
  /* Body text styles */
  .body {
    font-size: 1em;
    font-family: "poppins";
  }
  
  /* Title styles */
  .title {
    font-family: poppins-semibold;
    font-size: 1em; 
  }
  
  /* Date styles */
  .date {
    font-size: 0.8em; /* Adjusted to proper decimal format */
    color: #f2f3e2;
    margin-left: 10px;
  }
  
#block {
    background-color:#706777;
    height: 28px;
}

#paragraph {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}
