/* /* Define custom font */
@font-face {
  font-family: "Afacad";
  src: url("Afacad.ttf") format("truetype");
} */

.lora-lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Global styles */
body {
  padding: 50px;
  background-color: #ffffff;
  color: #999999;
  font-family: "Lora", sans-serif;
  line-height: 1.5em;
}

/* Header styles */
header {
  max-width: 400px;
  margin: auto;
  margin-bottom: 2%;
}

/* Logo styles */
#logo {
  max-width: 100%;
  margin: auto;
  margin-bottom: 2%;
}

/* Article styles */
article {
  border: 1px solid #999999;
  border-radius: 5px;
  max-width: 380px;
  max-height: 300px;
  overflow: auto;
  margin: auto;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
}

/* Body text styles */
.body {
  font-size: 1em;
  font-weight: normal;
}

/* Title styles */
.title {
  font-weight: 500;
  font-size: 1em;
}

/* Date styles */
.date {
  font-style: italic;
  font-size: 0.8em; /* Adjusted to proper decimal format */
}

/* nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navlist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1em;
}

.navlist li {
    margin: 20px;
} */

/* a {
    text-decoration: none;
    color: #6f8fc1;
}

a:hover {
    text-decoration: underline;
    color:#6f8fc1;
}

a:active {
    text-decoration: underline;
    text-decoration-color: #6f8fc1;
} */

/* .post-img {
    width: 200px;
    display: inline;
    float: left;
    padding-right: 20px;
    padding-top: 20px;
} */

/* p.intro {
    text-align: center;
    width: 440px;
    font-size: 1em;
} */


/* .active {
    text-decoration: underline;
    text-decoration-color:#6f8fc1;
} */
